<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

        * {
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
        }
    </style>
    <title>th:text="${film.detail[0].title}"</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <div>title</div>
                    <div th:text="${film_detail[0].title}"></div>
                </div>
                <div class="d-flex justify-content-between">
                    <div>year</div>
                    <div th:text="${film_detail[0].year}"></div>
                </div>
                <div class="d-flex justify-content-between">
                    <div>rating</div>
                    <div th:text="${film_detail[0].rating}"></div>
                </div>
                <div class="d-flex justify-content-between">
                    <div>length</div>
                    <div th:text="${film_detail[0].length}"></div>
                </div>
                <div class="d-flex justify-content-between">
                    <div>language</div>
                    <div th:text="${film_detail[0].language}"></div>
                </div>
                <div class="d-flex justify-content-between">
                    <div>category</div>
                    <div th:text="${film_detail[0].category}"></div>
                </div>
                <div class="d-flex justify-content-between">
                    <div>special features</div>
                    <div th:text="${film_detail[0].specialFeatures}"></div>
                </div>
                <div class="d-flex justify-content-between">
                    <div>actors</div>
                    <div>배우 1, 배우 2, 배우 3</div>
                </div>
                <div class="d-flex justify-content-between">
                    <div>description</div>
                    <div th:text="${film_detail[0].description}"></div>
                </div>

            </div>
        </div>
    </div>
</div>

    <!-- 자바스크립트 시작 -->
    <script type="text/javascript">

    </script>
    <!-- 자바스크립트 끝 -->

</body>
</html>
