<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Sakila Film Search</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

        * {
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
        }
        h1 {
            font-family: 'JetBrains Mono', monospace;
            text-align: center;
            font-weight: Bold;
            padding: 60px 0 30px;
            font-size: 3em;
        }
        table th{
            font-weight: 500;
        }

    </style>
</head>

<body>
<h1>Sakila Film Search</h1>

<div class="container my-2">
    <div class="row my-3 justify-content-end">
        <div class="col-xl-3">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control gray-200" placeholder="영화 제목을 입력하세요" id="search_kw"  aria-describedby="button-addon2" th:value="${kw}">
                <button class="btn btn-sm btn-outline-secondary" type="button" id="btn_search">search</button>
            </div>

        </div>
    </div>

    <table class="table table-sm table-bordered table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>title</th>
            <th>year</th>
            <th>rating</th>
            <th>length</th>
            <th>language</th>
            <th>category</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="film, loop : ${film_page.content}" th:data-film-id="${film.filmId}" data-bs-toggle="collapse" th:data-bs-target="'#collapse-' + ${film.filmId}" >
            <td th:text="${(film_page.number * film_page.size) + loop.index + 1}"></td>
            <td th:text="${film.title}"></td>
            <td th:text="${film.year}"></td>
            <td th:text="${film.rating}"></td>
            <td th:text="${film.length}"></td>
            <td th:text="${film.language}"></td>
            <td th:text="${film.category}"></td>
        </tr>
        <div th:each="film : ${film_page.content}" th:id="'collapse-' + ${film.filmId}" class="collapse">
            <td colspan="7">
                <div class="card card-body">
                <h5 th:text="${film.title}"></h5>
                <b> Description </b>
                <div id="description"> </div>
                <b> Special Features </b>
                <div id="specialFeatures"> </div>
                <b> Actor </b>
                <div id="actorName"> </div>
                </div>
            </td>
        </div>

        </tbody>
    </table>


    <!-- 페이징 처리 시작 -->
    <div th:if="${!film_page.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${film_page.first ? 'disabled' : ''}">
                <a class="page-link" href="javascript:void(0)" th:data-page="${film_page.number - 1}">이전</a>
            </li>
            <li th:each="page : ${#numbers.sequence(0, film_page.totalPages - 1)}"
                th:if="${page >= film_page.number - 2 and page <= film_page.number + 2}"
                th:classappend="${page == film_page.number} ? 'active' : ''" class="page-item">
                <a class="page-link" th:text="${page + 1}" href="javascript:void(0)" th:data-page="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${film_page.last ? 'disabled' : ''}">
                <a class="page-link" href="javascript:void(0)" th:data-page="${film_page.number + 1}">다음</a>
            </li>
        </ul>
    </div>
    <!-- 페이징 처리 끝 -->

    <!-- 검색 폼 만들기 -->
    <form th:action="@{/sakila}" method="get" id="searchForm">
        <input type="hidden" id="kw" name="kw" th:value="${kw}">
        <input type="hidden" id="page" name="page" th:value="${film_page.number}">
    </form>
    <!-- 검색 폼 끝 -->

    <!-- 자바스크립트 시작 -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', (event) => {
            const pageLinks = document.querySelectorAll(".page-link");
            pageLinks.forEach(link => {
                link.addEventListener('click', function() {
                    document.getElementById('page').value = this.dataset.page;
                    document.getElementById('searchForm').submit();
                });
            });

            const btnSearch = document.getElementById("btn_search");
            btnSearch.addEventListener('click', function() {
                document.getElementById('kw').value = document.getElementById('search_kw').value;
                document.getElementById('page').value = 0; // 검색 버튼 클릭 시 0페이지부터 조회
                document.getElementById('searchForm').submit();
            });

            // 모든 테이블 행에 클릭 이벤트 리스너 추가
            document.querySelectorAll("table tbody tr").forEach(row => {
                row.addEventListener('click', function() {
                    var filmId = row.getAttribute('data-film-id');

                    // AJAX로 데이터를 서버에 전송
                    fetch(`/sakila/detail?filmId=${filmId}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log(data); // 받은 데이터 확인
                            console.log(data.description);
                            var targetCollapse = document.getElementById(`collapse-${filmId}`);

                            if (targetCollapse) {
                                // 현재 열려있는 collapse 닫기
                                var currentOpenCollapse = document.querySelector('.collapse.show');
                                if (currentOpenCollapse && currentOpenCollapse !== targetCollapse) {
                                    var bsCollapse = new bootstrap.Collapse(currentOpenCollapse);
                                    bsCollapse.hide();
                                }
                                // 클릭된 collapse 토글
                                var bsTargetCollapse = new bootstrap.Collapse(targetCollapse);
                                bsTargetCollapse.toggle();

                                // 영화 세부 정보 업데이트 ~
                                targetCollapse.querySelector("#description").innerText = data[0].description;
                                targetCollapse.querySelector("#specialFeatures").innerText = data[0].specialFeatures;
                                targetCollapse.querySelector("#actorName").innerText = data[0].actorName;

                            }
                        })
                        .catch(error => console.error('Error:', error));
                });
            });

        });


    </script>
    <!-- 자바스크립트 끝
    아니 결국은 AJAX fetch? 사용해야지 가능한거네 sumit은 지우자
    -->

</div>
</body>
</html>
